.hero-foot
    nav.navbar.tabs.is-boxed.is-fullwidth.is-fixed-bottom.has-background-primary
        .container
            ul
                each nav_item in navig
                    li #[a(href=nav_item.href) #{nav_item.text}]