.hero-foot
  nav.tabs.is-boxed.is-fullwidth
    .container
      ul
        li.is-active
          a Overview
        li
          a Modifiers
        li
          a Grid
        li
          a Elements
        li
          a Components
        li
          a Layout
