.hero-head
    header.navbar
        .container
        .navbar-brand
            a.navbar-item
            img(src='https://bulma.io/images/bulma-type-white.png' alt='Logo')
            span.navbar-burger(data-target='navbarMenuHeroC')
            span
            span
            span
        #navbarMenuHeroC.navbar-menu
            .navbar-end
            a.navbar-item.is-active
                | Home
            a.navbar-item
                | Examples
            a.navbar-item
                | Documentation
            span.navbar-item
                a.button.is-success.is-inverted
                span.icon
                    i.fab.fa-github
                span Download