.hero-head
    header.navbar.is-fixed-top
        .container
        .navbar-brand
            nav.breadcrumb(aria-label='breadcrumbs')
                ul
                    each val in brdcrmbs
                        li #[a(href= val.href) #{val.text}] 