.hero-head
    header.navbar
        .container
        .navbar-brand
            a.navbar-item
            span.navbar-burger(data-target='navbarMenuHeroC')
            span
            span
            span
        nav.breadcrumb(aria-label='breadcrumbs')
            ul
                each val in brdcrmbs
                    li #[a(href= val.href) #{val.text}] 